body {
        background-color: orange; 
}

p {
        font-size: medium; 
        font-family: sans-serif;
        margin-left: 8px;
}

h1 {
        font-style: italic;
        font-variant: small-caps;
        font-bold: bold;
        border-bottom: 1px solid black;
}

h2 {
        font-weight: bold;
}

.menu ul {
        border: 2px solid black;
        padding: 3px;
        list-style: none;
}

.bullet {
        display: inline;
        padding-left =: 10px;
        padding-right: 10px;
        font-size: 120%;
}

.bullet1 {
        display: inline;
        color: red;
        font-size: 120%;
        padding-left =: 10px;
        padding-right: 10px;

.bullet a::after {
        display: inline-block;
        content: "-";
        font-size: 120%;
        padding: 0 5px;
}

.bullet a::before {
        display: inline-block;
        content: "-";
        font-size: 120%;
        padding: 0 5px;
}

.block {
        display: flex;
}


