body {
        background-color: orange; 
}

p {
        font-size: medium; 
        font-family: sans-serif;
}

h1 {
        font-style: italic;
        font-variant: small-caps;
        font-bold: bold;
}

ul {
        border: 2px solid black;
}

li {
        display: inline;
        padding-left =: 10px;
        padding-right: 10px;
}

